node_modules/
dist/
/coverage/
/coverage-raw/
/coverage-html/
/coverage-manifests/
/test-reports/
data/gen/
.DS_Store
.vscode/
package-lock.json
jsconfig.json
/test-results/
src/content_scripts/safari.js
*~
.idea
.env
