/* Dark theme inspired by Monokai */
:root {
    --dark-bg: #272822;
    --dark-fg: #F8F8F2;
    --dark-comment: #75715E;
    --dark-red: #F92672;
    --dark-orange: #FD971F;
    --dark-yellow: #E6DB74;
    --dark-green: #A6E22E;
    --dark-cyan: #66D9EF;
    --dark-purple: #AE81FF;
    --dark-surface: #3E3D32;
    --dark-surface-light: #49483E;
}

html {
    background-color: var(--dark-bg);
    color: var(--dark-fg);
}

body {
    margin: 5% 10%;
    width: 80%;
    background-color: var(--dark-bg);
    color: var(--dark-fg);
}
.ace_editor {
    display: inline-block;
}
#mappings_container {
    font-size: 0;
    width: 100%;
}
textarea {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: var(--dark-surface);
    color: var(--dark-fg);
    border: 1px solid var(--dark-surface-light);
}

/* Form elements */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
select {
    background-color: var(--dark-surface);
    color: var(--dark-fg);
    border: 1px solid var(--dark-surface-light);
    padding: 6px 8px;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
select:focus {
    background-color: var(--dark-surface-light);
    border-color: var(--dark-cyan);
    outline: none;
}

input[type="checkbox"] {
    accent-color: var(--dark-cyan);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: var(--dark-surface-light);
    color: var(--dark-fg);
    border: 1px solid var(--dark-comment);
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--dark-surface);
    border-color: var(--dark-cyan);
}

/* Links */
a {
    color: var(--dark-cyan);
    text-decoration: none;
}

a:hover {
    color: var(--dark-yellow);
    text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--dark-yellow);
}

/* Code-like elements */
code, kbd, pre {
    background-color: var(--dark-surface);
    color: var(--dark-orange);
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}
#save_container {
    float: right;
}
#save_container>a {
    padding-right: 8px;
    border-right: 1px solid var(--dark-comment);
}

.infoPointer {
    cursor: pointer;
    padding: 0px 2px;
    text-decoration: underline;
    background: var(--dark-orange);
    color: var(--dark-bg);
    border: solid 1px var(--dark-orange);
    border-radius: 2px;
}

.info {
    padding: 8px;
    margin: 8px;
    border: solid 2px var(--dark-surface-light);
    border-radius: 8px;
    background: var(--dark-surface);
    color: var(--dark-fg);
}

span.tip {
    padding-left: 60px;
    color: var(--dark-green);
}
div.aphost {
    display: inline-block;
    width: 200px;
    color: var(--dark-cyan);
}

div.aphost>span.remove {
    cursor: pointer;
    color: var(--dark-red);
}

#searchAliases>div, #basicMappings>div {
    display: inline-block;
    padding: 1px 20px;
    border-left: 1px solid var(--dark-surface-light);
    color: var(--dark-fg);
}
#searchAliases div.remove {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    padding-right: 10px;
}
#searchAliases span.prompt {
    font-size: 24px;
}

span.annotation {
    width: 240px;
    display: inline-block;
}
kbd {
    white-space: nowrap;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    vertical-align: middle;
    border: solid 1px var(--dark-surface-light);
    border-bottom-color: var(--dark-comment);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--dark-comment);
    background-color: var(--dark-surface);
    color: var(--dark-yellow);
}
.kbd-span {
    width: 80px;
    display: inline-block;
    cursor: pointer;
}
div.pressedKey {
    text-align: center;
    padding: 50px;
}
div.pressedKey kbd {
    font-size: 24pt;
    padding: 16px;
}
#keyPicker {
    overflow: auto;
    position: fixed;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    z-index: 2147483298;
    padding: 1rem;
    background: var(--dark-bg);
    color: var(--dark-fg);
    border: 1px solid var(--dark-surface-light);
}

#resetSettings {
    color: var(--dark-red);
    cursor: pointer;
}

span.highlight {
    background: var(--dark-yellow);
    color: var(--dark-bg);
    padding: 2px 4px;
    border-radius: 2px;
}

.proxyPair {
    border-radius: 8px;
    background: var(--dark-surface);
    padding: 20px;
    margin: 8px 0px;
    border: 1px solid var(--dark-surface-light);
    color: var(--dark-fg);
}
div.deleteProxyPair {
    float: right;
    cursor: pointer;
}
#addProxyPair {
    float: right;
}
.proxyPair input, #localPath {
    width: 520px;
}

/* Section styles */
.section {
    border: 1px solid var(--dark-surface-light);
    border-radius: 4px;
    padding: 12px;
    margin: 12px 0;
    background-color: var(--dark-surface);
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-surface-light);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-comment);
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0px 8px;
        width: initial;
    }
    .proxyPair input, #localPath {
        width: initial;
    }
}
