name: Node CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm install
      env:
        CI: true
    - name: Build extension
      run: npm run build:dev
    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-beta
    - name: Run CDP tests
      run: npm run test:cdp:headless:seq
